* {
    margin: 0;
    padding: 0%;
    box-sizing: border-box;
}

.head img {
    width: 100%;
    height: 100vh;
}

.head {
    position: relative;
}

.banner {
    position: absolute;
    bottom: 50px;
    width: 70%;
    background-color: #ffc107 !important;
    color: black;
    opacity: 70%;
}

.banner h1 {
    font-size: 30px;
    padding-left: 20px;
    margin: 10px 0;
    line-height: 1.5;
}

.banner:hover {
    background-color: #ff9800 !important;
}

.mid {
    display: flex;
    flex-wrap: wrap;
    margin: 50px 30px;
    justify-content: space-between;
}

.card {
    border-top: 5px solid #ff9800;
    width: 49%;
    margin-bottom: 30px;

}

.card img {
    width: 100%;
}

.card p {
    padding: 20px 0;
    font-size: 30px;
}


@media(max-width: 600px) {

    .head img{
        width: 100%;
        height: auto;
    }
    .card{
        width: 100%;
    }
    .banner {
        display: none;
    }
}