* {
    margin: 0;
    padding: 0%;
    box-sizing: border-box;
}

.head img {
    width: 100%;
   
}

.head {
    position: relative;
}

.banner {
    position: absolute;
    bottom: 71px;
    width: 70%;
    background-color: #ffc107 !important;
    color: black;
    opacity: 70%;
    
   
   
}

.banner h2 { 
      font-size: 30px;
      line-height: 1.5;
      padding: 0.15px 16px;   
     font-family: "Segoe UI",Arial,sans-serif;
     margin: 10px 0;
   
}

.banner:hover {
    background-color: #ff9800 !important;
}

.mid {
    display: flex;
    flex-wrap: wrap;
    margin: 45px 32px  2px 32px;
    justify-content: space-between;
}

.card {
    border-top: 6px solid #ffc107;
    width:calc(50% - 16px);
   margin-bottom: 49px;
  
   
}

.card img {
    width: 100%;
}

.card p {
    font-size: 15px;
    margin: 15px 0;
    font-family: Verdana,sans-serif;
   line-height: 1.5;
}
.card h2{
    font-size: 30px;
    font-family: "Segoe UI",Arial,sans-serif;
    font-weight: 400;
    margin: 6px 0;
    line-height: 1.5;
    

}


@media(max-width: 600px) {

    .head img{
        width: 100%;
        height: auto;
    }
    .card{
        width: 100%;
    }
    .banner {
        display: none;
    }
}